exportPattern("^[[:alpha:]]+")
import(dplyr)
import(plotrix)
import(ggplot2)
import(scatterplot3d)
import(forecast)
import(XML)
importFrom(lubridate,dmy)
importFrom(lubridate,year)
importFrom(lubridate,month)